<!DOCTYPE html>
<html lang="en-GB" data-theme="dark">
<head>
    <title>Datastar Demo</title>
    <meta charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {# https://tailwindcss.com/docs/container #}
    <div class="container mx-auto max-w-3xl py-8">
        <div id="alert"></div>
        {# https://daisyui.com/components/table/ #}
        <div class="overflow-x-auto mt-4">
            <table data-signals="{alert: false, entryId: 0}" class="table table-pin-rows">
                <thead>
                    <tr>
                        <th class="w-10">ID</th>
                        <th class="w-1/2">Title</th>
                        <th>Author</th>
                        <th class="w-48"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in craft.entries.section('listings').all() %}
                        <tr>
                            <td>{{ entry.id }}</td>
                            <td>
                                <div data-show="entryId.value != {{ entry.id }}">
                                    <div id="title-{{ entry.id }}">
                                        {{ entry.title }}
                                    </div>
                                </div>
                                <div data-show="entryId.value == {{ entry.id }}" style="display: none">
                                    <input data-bind-title data-on-keydown:key_enter="save.value.click()" type="text" class="input input-bordered w-full">
                                </div>
                            </td>
                            <td>{{ entry.author.username }}</td>
                            <td>
                                <button id="edit-{{ entry.id }}" data-on-click="alert.value = false; entryId.value = {{ entry.id }}; title.value = '{{ entry.title }}'" data-show="entryId.value != {{ entry.id }}" class="btn">
                                    Edit
                                </button>
                                <button data-on-click="alert.value = false; entryId.value = 0; this.value = title.value" data-show="entryId.value == {{ entry.id }}" class="btn" style="display: none">
                                    Cancel
                                </button>
                                <button data-ref-save data-on-click="confirm('Are you sure?') && {{ datastar.post('_datastar/save-entry.twig') }}" data-show="entryId.value == {{ entry.id }}" class="btn btn-primary" style="display: none">
                                    Save
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
